# Logs
vue-ui-js/logs
vue-ui-js/*.log
vue-ui-js/npm-debug.log*
vue-ui-js/yarn-debug.log*
vue-ui-js/yarn-error.log*
vue-ui-js/pnpm-debug.log*
vue-ui-js/lerna-debug.log*

vue-ui-js/node_modules
vue-ui-js/.DS_Store
vue-ui-js/dist
vue-ui-js/dist-ssr
vue-ui-js/coverage
vue-ui-js/*.local

vue-ui-js/cypress/videos/
vue-ui-js/cypress/screenshots/

# Editor directories and files
vue-ui-js/.vscode/*
vue-ui-js/!.vscode/extensions.json
vue-ui-js/.idea
vue-ui-js/*.suo
vue-ui-js/*.ntvs*
vue-ui-js/*.njsproj
vue-ui-js/*.sln
vue-ui-js/*.sw?

# Logs
vue-ui-ts/logs
vue-ui-ts/*.log
vue-ui-ts/npm-debug.log*
vue-ui-ts/yarn-debug.log*
vue-ui-ts/yarn-error.log*
vue-ui-ts/pnpm-debug.log*
vue-ui-ts/lerna-debug.log*

vue-ui-ts/node_modules
vue-ui-ts/.DS_Store
vue-ui-ts/dist
vue-ui-ts/dist-ssr
vue-ui-ts/coverage
vue-ui-ts/*.local

vue-ui-ts/cypress/videos/
vue-ui-ts/cypress/screenshots/

# Editor directories and files
vue-ui-ts/.vscode/*
vue-ui-ts/!.vscode/extensions.json
vue-ui-ts/.idea
vue-ui-ts/*.suo
vue-ui-ts/*.ntvs*
vue-ui-ts/*.njsproj
vue-ui-ts/*.sln
vue-ui-ts/*.sw?

